@import "src/app/shared/const/variables";

.chart-support {
  width: 100%;
  margin-bottom: 10px;
  position: relative;

  .no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: $secondary-font;
    font-size: 3vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
