:host {
  display: flex;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0px 3px 6px rgb(0 0 0 / 12%);
  border-radius: 4px;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.live-icon {
  margin-right: 8px;
}

.items {
  display: flex;
  position: relative;
  justify-content: space-around;
  padding: 16px;
}

.open-live {
  transition: color 0.2s, background-color 0.2s;
  padding: 8px;
  background: rgba(255, 255, 255, 0.06);
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.75);

  &:hover {
    background: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.9);
  }
}

sbk-dropdown-menu[visible="true"] ~ .edit-trigger {
  color: rgba(0, 0, 0, 0.5);
  z-index: 101;

  &:hover  {
    color: rgba(0, 0, 0, 0.9);
  }
}

.team-ctn {
}

.timer {
  margin-bottom: 8px;
}

.pause-status {
  margin-bottom: 8px;
}

.edit-trigger {
  transition: 0.2s color;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  align-self: flex-start;
  font-size: 0.75em;

  left: 8px;
  top: 8px;
  background-color: rgba(255, 255, 255, 0.12);
  padding: 8px;
  align-items: center;
  display: flex;
  border-radius: 4px;
  backdrop-filter: blur(8px);
  margin-bottom: 8px;

  &:hover {
    color: rgba(255, 255, 255, 0.9);
  }
}

.period-container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.scorer-item {
  /*margin: 12pt; */
  align-self: stretch;
  justify-content: center;
  flex: 1;
  /* background-color: rgba(255, 255, 255, 0.06); */
  /* padding: 12pt; */
  border-radius: 4px;
}

.editable-input {
  display: flex;
}

.control-group {
  display: flex;
  margin-top: 12pt;
}

.control-group__item {
  cursor: pointer;
}

.control-group__item:not(:last-child) {
  margin-right: 6pt;
}

.edit-icon {
  font-size: 18px;
  margin-right: 6px;
}