@import "src/app/shared/const/variables";

.manager-textarea {
  background-color: $light-black;
  border: 1px solid $light-grey;
  border-radius: 10px;
  color: $white;
  font-family: $secondary-font;
  padding: 7px 10px;

  &.invalid {
    border: 1px solid $orange;
  }

  &.centered {
    text-align: center;
  }
}

