<section class="home-contact">
  <div class="home-contact-left">
    <h1>{{ getTranslation('contact_title')}}</h1>
    <p>{{ getTranslation('contact_fill_form')}}</p>
    <form-contact></form-contact>
    <div class="span-ctn">
      <span>{{ getTranslation('contact_no_harass')}}</span>
    </div>
    <social-panel></social-panel>
  </div>
  <div class="home-contact-right">
    <h2>{{ getTranslation('contact_hundred_partners')}}</h2>
    <img src="./assets/img/home-page/home-contact/group1605.jpg" alt="sportbak partners">
  </div>
</section>
