<section class="home-phone-device-competitions">
  <h1 >{{ getTranslation('mobile_competition_title')}}</h1>
  <div class="main-ctn">
    <p>{{ getTranslation('mobile_competition_text')}}</p>
    <a href=""><button>{{ getTranslation('nav_competition')}}</button></a>
    <ul>
      <li>{{ getTranslation('mobile_competition_create')}}</li>
      <li>{{ getTranslation('mobile_competition_manage')}}</li>
      <li>{{ getTranslation('mobile_competition_results')}}</li>
    </ul>
  </div>
  <div class="video-ctn">
    <iframe width="100%" height="300" src="https://www.youtube.com/embed/KdLe6NPeIHU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</section>   