:host {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
  }
  
  .dropdown-icon {
    margin-right: 12px;
    transform: rotateZ(-90deg);
  }

  .separator {
    flex-grow: 1;
    height: 1px;
    background-color: rgba(255, 255, 255, .25);
  }

  .title {
    margin-right: 12px;
    text-transform: uppercase;
  }
}

:host(.expanded) {
  .dropdown-icon {
    margin-right: 12px;
    transform: rotateZ(0deg);
  }
}