
  <div  class="manager-content">
    <div class="title">
        <img *ngIf="!isNewPasswordNeeded()" class="back-btn" src="./assets/img/icons/arrow-white.png" (click)="return()"/>
        <span class="info">{{ getTranslation('change_password') }}</span>
    </div>
    <div class="my-input-group">
      <input type="password" [placeholder]="getTranslation('current_password')" [(ngModel)]="currentPassword" (ngModelChange)="onCurrentPasswordChange($event)"/>
      <input type="password" [placeholder]="getTranslation('new_password')" [(ngModel)]="newPassword" (ngModelChange)="onNewPasswordChange($event)"/>
      <input type="password" [placeholder]="getTranslation('new_password_confirmation')" [(ngModel)]="newPasswordConfirmation" (ngModelChange)="onNewPasswordConfirmationChange($event)"/>
      <p *ngIf="newPasswordConfirmation && newPasswordConfirmation.length > 0 && newPassword != newPasswordConfirmation" class="confirmation-incorrect">{{ getTranslation('password_confirmation_incorrect') }}</p>
      <div class="btn-container">
        <button *ngIf="!isLoading" class="validate-password" [disabled]="!canValidate" (click)="onValidateClick()">{{ getTranslation('validate') }}</button>
      </div>
    </div>
    <spinning-loader *ngIf="isLoading" [hasCtn]="true" [isMedium]="true"></spinning-loader>
    <div *ngIf="!isNecessary">
      <p class="contact-warning">{{ getTranslation('trouble') }}<span class="contact-link" (click)="redirectToContact()"> {{ getTranslation('contact_us') }}</span></p>
    </div>
    <button sbk-btn id="log-out-btn" class="round outline" *ngIf="isNecessary" (click)="logOut()">{{ getTranslation('log_out') }}</button>
  </div>
<manager-alert *ngIf="hasSubmitted"
  [successMsg]="getTranslation('password_change_success')"
  [failureMsg]="failureText"
  [hasFailed]="hasFailedSending"
  [nbOfFails]="0">
</manager-alert>
