@import "src/app/shared/const/variables";

password-change {

  display: flex;
flex: 1;

  .manager-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      display: flex;
      align-content: flex-start;
      width: 50%;
      align-items: center;
      .back-btn {
        margin-right: 20px;
      }
      .info {
        color: $white;
        text-align: center;
        font-family: $secondary-font;
        font-weight: 700;
        font-size: 30px;
      }
    }

    .my-input-group {
      width: 50%;

      input {
        border-radius: 30px;
        width: 100%;
        margin: 20px 0;
        height: 45px;
        padding: 15px;
        border: none;
        @media (max-width: $break-sm) {
          width: 85%;
        }

        &.username-input {
          @media (max-width: $break-sm) {
            margin-top: 45px;
          }
        }
      }

      .btn-container {
        display: flex;
        flex-direction: row-reverse;
        .validate-password {
          border: none;
          font-family: $secondary-font;
          color: $white;
          background-color: $orange;
          font-size: 20px;
          border-radius: 50px;
          padding:0 30px;

          &:disabled {
            background-color: $medium-grey;
          }

          @media (max-width: $break-sm) {
            width: 85%;
          }
        }
      }
    }

    .confirmation-incorrect {
      color: $red;
      font-size: 18px;
    }

    .contact-warning {
      color: $white;
      font-size: 20px;
      margin-top: 30px;
    }

    .contact-link {
      color: $orange;
      cursor: pointer;
    }

    #log-out-btn {
      margin-top: 60px;
    }
  }
}
