@import 'src/app/shared/const/variables.scss';

$orange:#FF9C00;
$orange-hover:#dd8800;
$yellow: rgb(255, 217, 0);
$white: #ecf0f1;
$white-hover: #dadada;
$dark-black: #060507;
$dark: #0f1011;
$dark-grey: #1D1D1E;
$secondary-dark-grey: #262626;
$dark-light-grey: #494949;
$border-grey: #969696;
$grey: #A1A1B0;
$main-font: "BigNoodleTitling";
$secondary-font: "ProximaNova-Regular";
$brushwell: "Brushwell";
$small-screen: $break-sm;
$medium-screen: $break-md;
$small-height-screen: 700px;
$success: #7DCEA0;
$error: #D98880;
$h1-size: 70px;