@import 'src/app/shared/const/variables.scss';

manager-tournament-details{
  width: 100%;
  display: flex;
  flex: 1;

  .tournament-details-ctn {
    width: 100%;
    background-color: #2B2B2B;
    min-height: 100vh;
    @media (max-width: $break-md){
      margin-left: 0px;
    }

    .tournament-title-ctn {
      display: flex;
      align-items: baseline;
      margin-left: 20px;
      @media (max-width:$break-md) {
        margin-left: 60px;
      }

      .back-btn {
        height: 30px;
        width: 30px;
        cursor: pointer;
        margin-right: 20px;
      }
    }
  }

  .tournament-name {
    font-family: "BigNoodleTitling";
    color: #ecf0f1;
  }
}