@import "src/app/shared/const/variables";

#manager-multisport-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 200px;
  padding-right: 30px;
  label {
    margin: 0;
    color: $medium-dark-grey;
    display: block;
    padding-right: 10px;
    font-family: $third-font;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
  }
  #sport-choice {
    padding: 10px;
    display: block;
    font-size: 20px;
    font-family: $secondary-font;
    color: $white;
    background-color: $light-black;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    &:focus {
      option {
        background-color: $dark-grey;
      }
    }
    option {
      background-color: $dark-grey;
    }
  }
}
