<div id="rank_team" class="confrontations-ranking-ctn animated-table-right restriction-width-large">
  <table class="table-header">
    <tr>
      <td *ngFor="let column of templates; let i = index" [ngStyle]="column.styles.header">
        <futbak-label-autoadjust *ngIf="!column.icon_src"
          [ngClass]="['header-column' + (playerIndexSelected == i ? '-selected' : '')]" [fontSize]="titleFontSize"
          [minFontSizeAutoAdjust]="12" [text]="column.title" (click)="playerColumnClicked(i)">
        </futbak-label-autoadjust>
        <img *ngIf="column.icon_src" src="{{column.icon_src}}" class="column-icon" (click)="playerColumnClicked(i)" />
      </td>
    </tr>
  </table>

  <table *ngIf="teams" class="table-content">
    <tr *ngFor="let player of allTeamsPlayers; let playerIndex = index" [ngClass]="{'me' : player.me}">
      <td *ngFor="let column of templates; let ci = index" [ngStyle]="column.styles.value">
        <label *ngIf="column.key == 'combined'; else nonCombinedValue" class="normal-value"
          [ngStyle]="styles['normal']">
          {{ player.combined}}
        </label>
        <ng-template #nonCombinedValue>
          <div *ngIf="column.key == 'nickname'; else normalValue" class="div-name" [ngStyle]="{'max-height': rowContentHeight + 'px'}" (click)="playerClicked(player)">
            <!--<div class="column-picture-user">
              <futbak-user-avatar [size]="20" [user]="player" [showBadge]="false"[borderWidth]="1"></futbak-user-avatar>
            </div>-->
            <div  class="column-shirt" [ngStyle]="{'max-height': rowContentHeight + 'px'}">
              <img class="maillottab" [src]="player.shirt ? staticShirtUrl + player.shirt : unknownShirtUrl">
            </div>
            <div class="column-name" [ngStyle]="{'max-height': rowContentHeight + 'px'}">
              <div class="name-value" [ngStyle]="nameStyle">{{ player.nickname }}</div>
            </div>
          </div>
        </ng-template>
        <ng-template #normalValue>
          <label class="normal-value" [ngStyle]="styles['normal']">{{ getValue(player, column.key) }}</label>
        </ng-template>
      </td>
    </tr>
  </table>
</div>
