<section class="home-community">
  <div class="home-community-join">
    <div class="home-community-h1">
      <h1>{{ getTranslation('community_title')}}</h1>
    </div>
    <div class="home-community-p">
      <div>
        <span>+6000</span>
        <span>+20 000</span>
        <span>+200</span>
        <span>4</span>
      </div>
      <div>
        <p>{{ getTranslation('community_user')}}</p>
        <p>{{ getTranslation('community_player')}}</p>
        <p>{{ getTranslation('community_ground')}}</p>
        <p>{{ getTranslation('community_country')}}</p>
      </div>
    </div>
  </div>
</section>
