<div class="social-panel-partials">
    <a *ngIf="facebookLink" class="social-panel-icon" href="{{facebookLink}}" target="_blank">
      <i class="lab la-facebook-f"></i>
    </a>
    <a *ngIf="linkedinLink" class="social-panel-icon" href="{{linkedinLink}}" target="_blank">
      <i class="lab la-linkedin-in"></i>
    </a>
    <a *ngIf="twitterLink" class="social-panel-icon" href="{{twitterLink}}" target="_blank">
      <i class="lab la-twitter"></i>
    </a>
    <a *ngIf="instagramLink" class="social-panel-icon" href="{{instagramLink}}" target="_blank">
      <i class="lab la-instagram"></i>
    </a>
    <a *ngIf="websiteLink" class="social-panel-icon" href="{{websiteLink}}" target="_blank">
      <i class="las la-laptop"></i>
    </a>
</div>
